

/* main */

.container{
    height: 80vh;
    width: 100%;
    margin: auto;
    margin-top: 15px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px -20px, rgba(0, 0, 0, 0.2) 0px 30px 60px -30px;
}


/* objectives-discover */


.objectives-list{
  width: 600px;
  min-height: 620px;
  padding: 25px;
  justify-content: center;
  margin: auto;
  margin-top: 110px;
  border-radius: 10px;
  border: 1px solid white;
  background: transparent;
  backdrop-filter: blur(8px);
  box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px -20px, rgba(0, 0, 0, 0.2) 0px 30px 60px -30px;
}
.objectives-list h1{
  font-size: 25px;
  text-align: center;
  margin: 25px 0;
  margin-top: 15px;
  color: white;
}