.objective-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.objective-input{
    width: 340px;
    font-size: 18px;
    background: transparent;
    padding: 14px 32px 14px 16px;
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    margin-right: 10px;
    color: white;

}


.objective-button{
    padding: 16px;
    font-size: 18px;
    font-family: sans-serif;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    background: transparent;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    
}


.objective-button:hover{
    background-color: white;
    color: black;
    transition: 300ms;
}
